.navbar {
  display: flex;
  background: var(--dark-primary-color);
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
  padding: 2rem;
}

.navbar ul {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.navbar ul li a:hover {
  text-decoration: underline;
  color: var(--text-primary-color);
}
